.container {
  height: 50px;
  background-color: black;
  color: white;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 35px;
}

.hamburger {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.element {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 3px;
  cursor: pointer;
}
